# Docker Compose
DB_NAME=training_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432
APP_PORT=8080
SERVER_PORT=8080

# Spring/JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_SQL_INIT_MODE=always

# Production (PaaS)
# SPRING_DATASOURCE_URL=jdbc:postgresql://<host>:5432/<db_name>
# SPRING_DATASOURCE_USERNAME=<user>
# SPRING_DATASOURCE_PASSWORD=<password>